In [1]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataframe = pd.read_csv('CardioGoodFitness.csv')

In [3]:
dataframe.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [4]:
for x, r in dataframe.iterrows():
    if x==1:
        print(r)

Product           TM195
Age                  19
Gender             Male
Education            15
MaritalStatus    Single
Usage                 2
Fitness               3
Income            31836
Miles                75
Name: 1, dtype: object

In [5]:
dataframe[dataframe['Product']=='TM195'].groupby('Gender').count()

        Product  Age  Education  MaritalStatus  Usage  Fitness  Income  Miles
Gender
Female       40   40         40             40     40       40      40     40
Male         40   40         40             40     40       40      40     40

In [10]:
x = pd.crosstab(dataframe.Gender, dataframe.Product)

Product  TM195  TM498  TM798
Gender
Female      40     29      7
Male        40     31     33

In [14]:
sns.heatmap(x, vmin=1, vmax=100, annot=True)

ValueError: Must pass 2-d input. shape=()